# Ignore virtual environment folders
env/

# Byte-compiled Python files
*.pyc
*.pyo
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
.DS_Store