{% extends "base.html" %}

{% block content %}
<div class="content">
    <h2>Chage Statistics Type</h2>
    <div class="navigation-buttons">
        <button onclick="window.location.href='/statistics/flow-stat';">Flow Statistics</button>            
        <button onclick="window.location.href='/statistics/flow-table-stat';">Flow Table Statistics</button>            
        <button onclick="window.location.href='/statistics/aggregate-flow-stat';">Aggregate Flow Statistics</button>            
        <button onclick="window.location.href='/statistics/ports-stat';">Ports Statistics</button>            
    </div>
</div>
{% endblock %}