body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcccb;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #ffcccb;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}