body {
    font-family: Arial, sans-serif;
    background-color: #121212; // Темний фон
    color: #e0e0e0; // Світлий текст
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e; // Темна картка
    padding: 20px;
    text-align: center;
    color: #e0e0e0; // Світлий текст
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #bb86fc; // Акцентний колір
}

main {
    padding: 20px;
}

footer {
    background-color: #1e1e1e; // Темна картка
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #e0e0e0; // Світлий текст
}